### Seoul Covid-19 Occurance Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

#### 1. 2020/06/30까지의 서울 코로나19 발생 데이터 불러오기

In [6]:
# 데이터 csv 파일 읽어오기
df = pd.read_csv("./seoul-covid19_6_30_.csv")
df.shape

(1321, 7)

In [12]:
# '연번' 컬럼으로 정렬하기
df = df.sort_values(by='연번', ascending=False)
df

        연번     환자    확진일   거주지     여행력          접촉력         조치사항
0     1321  12830  6.30.  영등포구       -  영등포구 확진자 접촉            -
1     1320  12829  6.30.   관악구       -         확인 중        보라매병원
2     1319  12831  6.30.  영등포구       -         확인 중      중앙대학교병원
3     1318  12808  6.30.   관악구       -   강남구 역삼동 모임        보라매병원
4     1317  12809  6.30.   관악구       -   강남구 역삼동 모임        보라매병원
...    ...    ...    ...   ...     ...          ...          ...
1316     5      9  1.31.   성북구       -        #5 접촉    서울의료원(퇴원)
1317     4      7  1.30.   마포구  중국 우한시        해외 접촉    서울의료원(퇴원)
1318     3      6  1.30.   종로구       -        #3 접촉  서울대학교병원(퇴원)
1319     2      5  1.30.   중랑구  중국 우한시        해외 접촉    서울의료원(퇴원)
1320     1      2  1.24.   강서구  중국 우한시        해외 접촉  국립중앙의료원(퇴원)

[1321 rows x 7 columns]

#### 2. 시각화 도구 불러오기

In [ ]:
# matplotlib.pyplot.rc로 한글폰트 설정
# plt.style.use로 'fivethirtyeight' 스타일 사용
plt.rc('font', familty='Malgum Gothic')
plt.rc('axes', unicode_minus=False)

#### 3. 확진일

In [14]:
# '확진일' 빈도수 확인
df['확진일'].value_counts()

3.10.    46
6.12.    30
6.06.    29
6.05.    27
3.9.     26
         ..
4.20.     1
4.19.     1
4.18.     1
4.15.     1
1.24.     1
Name: 확진일, Length: 131, dtype: int64

In [19]:
# '확진일' 컬럼의 데이터가 오브젝트 형식
# datetime 형식으로 변환 필요
# 연도가 없으므로 2020년 임의로 추가
df['확진일자'] = pd.to_datetime('2020-' + df['확진일'].str.replace(".", "-"))
df[['확진일', '확진일자']].head()

C:\Users\Han\AppData\Local\Temp\ipykernel_20392\636754021.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['확진일자'] = pd.to_datetime('2020-' + df['확진일'].str.replace(".", "-"))

     확진일       확진일자
0  6.30. 2020-06-30
1  6.30. 2020-06-30
2  6.30. 2020-06-30
3  6.30. 2020-06-30
4  6.30. 2020-06-30

In [21]:
# 월만 추출
df['월'] = df["확진일자"].dt.month
df[['확진일', '확진일자', '월']].head()

     확진일       확진일자  월
0  6.30. 2020-06-30  6
1  6.30. 2020-06-30  6
2  6.30. 2020-06-30  6
3  6.30. 2020-06-30  6
4  6.30. 2020-06-30  6

In [25]:
# 2020년 몇번째 주인지 추출
df['주'] = df['확진일자'].dt.week
df[['확진일', '확진일자', '월', '주']].head()

C:\Users\Han\AppData\Local\Temp\ipykernel_20392\467928631.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['주'] = df['확진일자'].dt.week

     확진일       확진일자  월   주
0  6.30. 2020-06-30  6  27
1  6.30. 2020-06-30  6  27
2  6.30. 2020-06-30  6  27
3  6.30. 2020-06-30  6  27
4  6.30. 2020-06-30  6  27